<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Survey Form</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document). ready(function (){
            
        })
    </script>
</head>
<body>
    <div id="wrapper">
        <h1>Welcome to Quoting Dojo</h1>
        <form action="/quote" method="post">
        <div class="input"><span class="label">Your Name:</span> <input type="text" name="name"></div>

        <div class="input"><span class="label">Comments:</span><br>
            <textarea name="comment"></textarea>
        </div>
        <input class="submit" type='Submit' value="Add to my Quote">
        <button><a href="/quote">Skip to Quotes</a></button>
        </form>
        
    </div>
</body>
</html>